<div class="container">
    <h1>Posts</h1>
    <mat-toolbar>
        <button mat-fab aria-label="Button that adds a post" (click)="openAddPost()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>
    <mat-action-list>
        <mat-list-item *ngFor="let post of postsList | async">
            <button mat-list-item  (click)="openPost(post.id)">
                {{ post.title }}
            </button>
            <button mat-icon-button color="warn" (click)="deletePost(post.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-action-list>
</div>
